{% extends 'admin/base.html' %}
{% block nav-admin-problem %} active {% endblock %}
{% block admin-content %}

    <form id="mod_form" role="form" action="" enctype="multipart/form-data" method="post" onSubmit="transfer()">
        <div class="form-group">

            <div class="row">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <td width="30%">Title</td>
                                <td>{{ form.title }} </td>
                            </tr>
                            <tr>
                                <td>Description <br>
                                    (support Markdown 
                                    and LaTeX)</td>
                                <td>
                                    <div id="editor"></div>
                                    {{ form.description }} 
                                </td>
                            </tr>
                            <tr>
                                <td>Pre-completed code <br>
                                    (interface-based programming problem)</td>
                                <td>
                                    <div id="editor_2"></div>
                                    {{ form.pre_written_code }}
                                </td>
                            </tr>                            
                            <tr>
                                <td>Time Limit (in millsecond)</td>
                                <td>{{ form.time_limit }} </td>
                            </tr>
                            <tr>
                                <td>Memory Limit (in megabyte)</td>
                                <td>{{ form.memory_limit }} </td>
                            </tr>
                            <tr>
                                <td>Input/Output Reference</td>
                                <td>{{ form.test_data }} </td>
                            </tr>                            
                        </tbody>
                    </table>
            </div>
            <center>
                <button type="submit" class="btn btn-success">Add this problem</button>
            </center>
        </div>
    </form>

    <script src="/static/ace-editor/ace.js" type="text/javascript" charset="utf-8"> </script>

    <script type="text/javascript">

        var editor = ace.edit("editor");
        var editor_2 = ace.edit("editor_2");
        var textarea = document.getElementById("id_description");
        var textarea_2 = document.getElementById("id_pre_written_code");

        editor.setTheme("ace/theme/chrome");
        editor.getSession().setMode("ace/mode/markdown");
        editor.getSession().setValue(textarea.value);

        editor_2.setTheme("ace/theme/chrome");
        editor_2.getSession().setMode("ace/mode/c_cpp");
        editor_2.getSession().setValue(textarea_2.value);

        function transfer()
        {
            textarea.value = editor.getSession().getValue();
            textarea_2.value = editor_2.getSession().getValue();
        }
    </script>

    <style type="text/css">
    #editor {
        position: relative;
        width:100%;
        height:380px;
        font-size: 14px !important;
    }
    #editor_2 {
        position: relative;
        width:100%;
        height:380px;
        font-size: 14px !important;
    }    
  </style>
{% endblock %}
