{% extends "base.html" %}

{% block title %} Detail|YaOJ2 {% endblock %}

{% block nav-problems %} class = "active" {% endblock %}

{% block content %}
<style>
.blog-main {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}
</style>
    <center> <h2> {{ problem.id|add:1000 }} - {{ problem.title }} <br>
    <small>Post at {{ problem.post_date }} <br>
    Memory Limit: {{ problem.memory_limit }} MB  
    Time Limit: {{ problem.time_limit }} ms</small> </h2></center>

    <div class="col-md-2 blog-main">
    </div>
    <div class="col-md-8 blog-main">       
        <blockquote>
            {{ description|safe }}
        </blockquote>
        <h3>Submit Area</h3>

        <form id="mod_form" role="form" action="" method="post" onSubmit="transfer()">
            <div class="form-group">
                {{ form.source }}
                <div id="editor"></div>
            </div>
            <center>
                {% if username %}
                <button type="submit" class="btn btn-success">Submit Now!</button>
                {% else %}
                Please login to submit your code.
                {% endif %}
            </center>
            <p></p>
        </form>
    </div>

    <script src="http://cdn.bootcss.com/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">

        var editor = ace.edit("editor");
        var textarea = document.getElementById("id_source");

        editor.setTheme("ace/theme/eclipse");
        editor.getSession().setMode("ace/mode/c_cpp");
        editor.getSession().setValue(textarea.value);

        function transfer()
        {
            textarea.value = editor.getSession().getValue();
        }
    </script>

    <style type="text/css">
    #editor {
        position: relative;
        width:100%;
        height:380px;
        font-size: 14px !important;
    }
    </style>
{% endblock %}