{% extends "base.html" %}

{% block title %} Status|YaOJ2 {% endblock %}

{% block nav-status %} class = "active" {% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Run Id</th>
            <th>Username</th>
            <th>Problem</th>
            <th>Submit Time</th>
            <th>Current Status</th>
            <th>Execute Time</th>
            <th>Execute Memory</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ statu.id }}</td>
            <td>{{ statu.commit_user.username }}</td>
            <td><a href="/problem/show/{{ statu.commit_problem.id }}">
                [{{ statu.commit_problem.id|add:1000 }}] {{ statu.commit_problem.title }} </a> </td>
            <td>{{ statu.commit_date }}</td>
            <td>{{ statu.commit_status }}</td>
            {% ifequal statu.cost_time_ms -1 %}
            <td>N/A</td>
            <td>N/A</td>
            {% else %}
            <td>{{ statu.cost_time_ms }} ms</td>
            <td>{{ statu.cost_memory_mb }} MB</td>
            {% endifequal %}
        </tr>
    </tbody>
</table>

<div class="col">
    <div class="col-md-12">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td width="20%">Information</td>
                    <td><pre>{{ statu.commit_external }}</pre></td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td>
                        <div class="code" ace-mode="ace/mode/c_cpp" ace-theme="ace/theme/chrome" ace-gutter="true">
                            {{ statu.commit_sourcefile }}
                        </div>
                    </td>
                </tr>                               
            </tbody>
        </table>
    </div>
</div>

<!-- load ace -->
<script src="/static/ace-editor/ace.js"></script>
<!-- load ace static_highlight extension -->
<script src="/static/ace-editor/ext-static_highlight.js"></script>
<script>
    var highlight = ace.require("ace/ext/static_highlight")
    var dom = ace.require("ace/lib/dom")
    function qsa(sel) {
        return Array.apply(null, document.querySelectorAll(sel));
    }

    qsa(".code").forEach(function (codeEl) {
        highlight(codeEl, {
            mode: codeEl.getAttribute("ace-mode"),
            theme: codeEl.getAttribute("ace-theme"),
            startLineNumber: 1,
            showGutter: codeEl.getAttribute("ace-gutter"),
            trim: true
        }, function (highlighted) {
            
        });
    });
</script>

{% endblock %}
